<div class='landingPage'>
<section>

<div class="box" ng-show="signNav">
	<a class="button" ng-click="showSigninBox()"> SIGN IN </a>
	<a class="button" ng-click="showSignupBox()"> SIGN UP </a>
</div>

<!--signup form -->
<form class="signupForm box" ng-show="signupBox">
  <div class='signupError'>
    <p ng-model="signupError">{{signupError}}</p>
  </div>
    <!-- <input type="hidden" name="_csrf" value="{{csrfToken}}"> -->
    <label>FIRST NAME</label><br>
  	<input type="text" ng-model="firstName"  id = 'fn' class="input firstname error" ng-keypress = "clearError()"><br>
  	
  	<label>LAST NAME</label><br>
  	<input type="text" ng-model="lastName" class="input lastname error" ng-keypress="clearError()"><br>
  	
  	<label> USERNAME</label><br>
  	<input type="text" ng-model="signupUsername" class="input signupUsername error" ng-keypress="clearError()"><br>
  	
  	<label>PASSWORD</label><br>
  	<input type="password" ng-model="signupPassword" class="input signupPassword error" ng-keypress="clearError()"><br>
  	
  	<label>FAVORITE COFFEE</label><br>
  	<input type="text" ng-model="favCoffee"><br>
  	
  	<button class="button signupBtn" ng-click="userSignup()">SIGNUP</button>
  	<button class="button signupCancelBtn" ng-click = "hideSignupBox()">CANCEL</button>
</form>
<!-- end of signup form -->

<!--signin form -->
<form class="signinForm box" ng-show="signinBox">
    <div class='signinError'>
      <p ng-model="signinError">{{signinError}}</p>
     </div> 
    <!-- <input type="hidden" name="_csrf" value='{{csrfToken}}'> -->
    <label>USERNAME</label><br>
    <input type="text" ng-model="signinUsername" class="input signinUsername error" ng-keypress="clearError()"><br>
    
    <label>PASSWORD</label><br>
    <input type="password" ng-model="signinPassword" class="input signinPassword error" ng-keypress="clearError()"><br>
    
    <button class="button signinBtn" ng-click="userSignin()">SIGNIN</button>
    <button class="button signinCancelBtn" ng-click = "hideSigninBox()">CANCEL</button>
</form>
<!--end of signin form -->

</section>
</div>